apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "docusaurus.fullname" . }}-docusaurus
  labels:
    app: docusaurus
  {{- include "docusaurus.labels" . | nindent 4 }}
spec:
  replicas: {{ .Values.replicas }}
  selector:
    matchLabels:
      app: docusaurus
    {{- include "docusaurus.selectorLabels" . | nindent 6 }}
  template:
    metadata:
      labels:
        app: docusaurus
      {{- include "docusaurus.selectorLabels" . | nindent 8 }}
    spec:
      containers:
      - name: docusaurus
        image: {{ .Values.image }}:{{ .Values.tag | default .Chart.AppVersion }}
        resources: {}
---
apiVersion: v1
kind: Service
metadata:
  name: {{ include "docusaurus.fullname" . }}-docusaurus
  labels:
  {{- include "docusaurus.labels" . | nindent 4 }}
spec:
  selector:
    app: docusaurus
  {{- include "docusaurus.selectorLabels" . | nindent 4 }}
  type: ClusterIP
  ports:
  - name: http
    port: 80
    targetPort: 80
---
apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: {{ include "docusaurus.fullname" . }}-docusaurus
  labels:
    {{- include "docusaurus.labels" . | nindent 4 }}
  annotations:
    nginx.ingress.kubernetes.io/rewrite-target: /
    cert-manager.io/cluster-issuer: {{ required "ingress.clusterIssuer is required" .Values.ingress.clusterIssuer }}
    {{- if index .Values "oauth2-proxy" "enabled" }}
    nginx.ingress.kubernetes.io/auth-url: "http://{{ include "oauth2-proxy.fullname" . }}.{{ .Release.Namespace }}.svc.cluster.local/oauth2/auth"
    nginx.ingress.kubernetes.io/auth-signin: "https://{{ .Values.ingress.host }}/oauth2/start?rd=$escaped_request_uri"
    {{- end }}
spec:
  ingressClassName: nginx
  tls:
    - hosts:
        - {{ required "ingress.host is required" .Values.ingress.host }}
      secretName: {{ include "docusaurus.fullname" . }}-docusaurus-{{ required "ingress.clusterIssuer is required" .Values.ingress.clusterIssuer }}-certificate-tls
  rules:
    - host: {{ required "ingress.host is required" .Values.ingress.host }}
      http:
        paths:
          - path: /
            pathType: ImplementationSpecific
            backend:
              service:
                name: {{ include "docusaurus.fullname" . }}-docusaurus
                port:
                  number: 80
